.orejime-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  min-width: 20rem;

  iframe,
  object,
  embed,
  .orejime-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    background: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.orejime-cookie-icon {
  width: 5rem;
  height: 5rem;
  background: url('../assets/img/cookie-bite-solid.svg');
  align-self: center;
  margin-bottom: 1rem;
}